
<h1 class="text-white text-center">Welcome {{user}}</h1>
<a class="p-4 text-white border radius:5px" routerLink="/transaction">View Transaction History</a>
<div class="login-wrapper">
    <form action="" class="form " (ngSubmit)="deposit()" [formGroup]="depositForm">
        <h2>DEPOSIT</h2>
        <div class="input-group">
            <input type="text" name="acno" id="acno" required="" placeholder="ACCOUNT NUMBER" formControlName="acno">
        </div>
        
            <div *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched">
                <p class="text-danger fs-4">invalid account number
                </p>
            </div>
       
        <div class="input-group">

            <input type="password" name="psw" id="psw" required="" placeholder="PASSWORD" formControlName="psw">

        </div>
        <div *ngIf="this.depositForm.get('psw')?.errors && this.depositForm.get('psw')?.touched">
            <p class="text-danger fs-4">invalid password
            </p>
        </div>
        <div class="input-group">
            <input type="text" name="amnt" id="amnt" required="" placeholder="AMOUNT" formControlName="amnt">
        </div>
        <div *ngIf="this.depositForm.get('amnt')?.errors && this.depositForm.get('amnt')?.touched">
            <p class="text-danger fs-4">invalid amount
            </p>
        </div>

        <button type="submit" class="btn   p-2">deposit</button>
    </form>



    <form action="" class="form ms-5" (ngSubmit)="withdraw()" [formGroup]="withdrawForm">
        <H2>WITHDRAWAL</H2>
        <div class="input-group">
            <input type="text" name="loginUser" id="loginUser" required="" placeholder="ACCOUNT NUMBER"
                formControlName="acnu">
             </div>
             <div *ngIf="this.depositForm.get('acnu')?.errors && this.depositForm.get('acnu')?.touched">
                <p class="text-danger fs-3">invalid account number
                </p>
            </div>
        <div class="input-group">

            <input type="password" name="loginPassword" id="loginPassword" required="" placeholder="PASSWORD"
                formControlName="pswd">

        </div>
        <div *ngIf="this.depositForm.get('pswd')?.errors && this.depositForm.get('pswd')?.touched">
            <p class="text-danger fs-3">invalid password
            </p>
        </div>
        <div class="input-group">
            <input type="text" name="loginUser" id="loginUser" required="" placeholder="AMOUNT" formControlName="amont">
        </div>
        <div *ngIf="this.depositForm.get('amont')?.errors && this.depositForm.get('amont')?.touched">
            <p class="text-danger fs-4">invalid amount
            </p>
        </div>

        <button type="submit" class="btn  p-2">WITHDRAW</button>
    </form>
</div>