<!-- <div>
    
    <form (ngSubmit)="deposit()">
        <div class="login-box container w-50 border mt-3 p-3 ">
                <h2>Deposit</h2>
                <div>
                    <div class="user-box">

                        <input type="text" required="" id="dacno" placeholder="Account Number" [(ngModel)]="acno"
                            name="dacno">
                        <label></label>
                    </div>
                    <div class="user-box">
                        <input type="password" required="" id="dpsw" placeholder="Password" [(ngModel)]="psw"
                            name="dpsw">
                        <label></label>
                    </div>
                    <div class="user-box">
                        <input type="text" required="" id="damt" placeholder="Amount" [(ngModel)]="amnt" name="damnt">
                        <label></label>
                    </div>
                </div>

                <div class="text-center mt-2 p-2" id="button">
                    <button type="submit" class="btn btn-light ">Deposit</button>
                </div>
        </div>
    </form>


    <div class="login-box  border mt- p-3">
        <h2>Withdrawal</h2>
        <div>
            <div class="user-box">

                <input type="text" required="" id="wacno" placeholder="Account Number">
                <label></label>
            </div>
            <div class="user-box">
                <input type="text" required="" id="wpsw" placeholder="Password">
                <label></label>
            </div>
            <div class="user-box">
                <input type="password" required="" id="wamt" placeholder="Amount">
                <label></label>
            </div>

            <div class="text-center mt-2 p-2" id="button">
                <button type="submit" class="btn btn-light ">Withdraw</button>
            </div>
        </div>
    </div>
</div> -->

<div class="login-wrapper">
    <form action="" class="form">
        <h2>DEPOSIT</h2>
        <div class="input-group">

            <input type="text" name="acno" id="acno" required="" placeholder="ACCOUNT NUMBER" [(ngModel)]="acno">


        </div>
        <div class="input-group">

            <input type="password" name="psw" id="psw" required="" placeholder="PASSWORD" [(ngModel)]="psw">

        </div>
        <div class="input-group">

            <input type="text" name="amnt" id="amnt" required="" placeholder="AMOUNT" [(ngModel)]="amnt">
        </div>

        <button type="button" class="btn   p-2" (click)="deposit()">deposit</button>
    </form>



    <form action="" class="form ms-5">
        <H2>WITHDRAWAL</H2>
        <div class="input-group">

            <input type="text" name="loginUser" id="loginUser" required="" placeholder="ACCOUNT NUMBER" [(ngModel)]="acnu">


        </div>
        <div class="input-group">

            <input type="password" name="loginPassword" id="loginPassword" required="" placeholder="PASSWORD" [(ngModel)]="pswd">

        </div>
        <div class="input-group">

            <input type="text" name="loginUser" id="loginUser" required="" placeholder="AMOUNT" [(ngModel)]="amont">


        </div>

        <button type="button" class="btn  p-2" (click)="withdraw()">WITHDRAW</button>
    </form>
</div>